.header {
  display: flex;
  gap: 65%;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.search-items {
  display: flex;
  width: 90%;
  gap: 35%;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  /* margin: 15px; */
  overflow: hidden;
  width: 264px;
  height: 336px;
}

.image {
  width: 264px;
  height: 160px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  width: 90%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.search-items {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.switch {
  cursor: pointer;
}

/* Media query */
@media only screen and (max-width: 767px) {
  /* Styles for small screens */
  .search-items {
    flex-wrap: wrap;
  }
  .search-items {
    margin-bottom: 80px;
    margin-top: 10px;
    gap: 5px;
  }
}
