.header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.htext {
  font-weight: bold;
}

.card {
  /* margin: 15px; */
  overflow: hidden;
  width: 264px;
  height: 336px;
}

.image {
  width: 264px;
  height: 160px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  width: 90%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.search-items {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.switch {
  cursor: pointer;
}

/* DETAILS PAGE */
.main-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}

.imgDetail,
.detailCard {
  width: 500px;
  height: 340px;
}
.link {
  margin-bottom: 30px;
  margin-top: 40px;
}
.side-details {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: space-between;
}

/* .curr-details {
  margin-top: 70px;
} */
.border {
  margin-top: 40px;
}
.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
.column {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Equal columns */
  gap: 20px; /* Space between columns */
}
.text-details {
  padding-right: 20px;
}
/* Media query */
@media only screen and (max-width: 800px) {
  /* Styles for small screens */

  .column,
  .side-details {
    display: block;
  }

  .imgDetail,
  .detailCard {
    max-width: 100%;
    height: auto;
  }
  .main-container {
    padding: 0;
    width: 90%;
  }

  .text-details {
    margin-top: 20px;
  }
  .header {
    font-size: 16px;
    height: 50px;
    margin-bottom: 10px;
  }

  .search-items {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .b-country {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .curr-details {
    margin-top: 10px;
  }

  .column {
    width: 100%;
  }
}
