.header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.htext {
  font-weight: bold;
}

.card {
  /* margin: 15px; */
  overflow: hidden;
  width: 264px;
  height: 336px;
}

.image {
  width: 264px;
  height: 160px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  width: 90%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.search-items {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.switch {
  cursor: pointer;
}

/* DETAILS PAGE */
.main-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.text-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.imgDetail,
.detailCard {
  height: 340px;
  width: 500px;
  margin-right: 50px;
}
.link {
  margin-bottom: 30px;
  margin-top: 40px;
}
.detail-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.curr-details {
  margin-top: 40px;
}
.border {
  margin-top: 40px;
}
/* Media query */
@media only screen and (max-width: 767px) {
  /* Styles for small screens */

  .header {
    font-size: 16px;
    height: 50px;
    margin-bottom: 10px;
  }

  .search-items {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
